@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Medium.ttf") format('truetype')
}

@font-face {
  font-family: "Raleway-Bold";
  src: url("../fonts/Raleway-Bold.ttf") format('truetype')
}